body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.wrapper {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
}

/* Login CSS */
.login-container {
  background-image: linear-gradient(to left bottom, #223491, #050A24, #223491);

}

.error {
  color: #fc0808;
  margin-top: 2px;
  font-weight: 300;
}

.left-section {
  background-image: linear-gradient(to left bottom, #223491, #050A24, #223491);
}

.scrollbar {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #D1E9FF #98A2B3;
}

.scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.signup-container {
  overflow: hidden;
}